body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f2f2f2;
font-family:Arial;
}

.sobre{
width:280px;
height:180px;
position:relative;
cursor:pointer;
text-align:center;
}

.cuerpo{
position:absolute;
bottom:0;
width:100%;
height:150px;
background:#d62828;
border-radius:10px;
}

.tapa{
position:absolute;
top:15px;
width:100%;
height:100px;
background:#e63946;
clip-path:polygon(0 0,100% 0,50% 100%);
transform-origin:top;
transition:1s;
z-index:2;
}

.sobre p{
position:absolute;
top:70px;
width:100%;
color:white;
font-weight:bold;
z-index:3;
}

.abrir .tapa{
transform:rotateX(180deg);
}

.invitacion{
display:none;
text-align:center;
}

.mostrar{
display:block;
animation:aparecer 1s;
}

@keyframes aparecer{
from{
opacity:0;
transform:scale(.5);
}
to{
opacity:1;
transform:scale(1);
}
}
